@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon{
  font-size: 42px;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiangshang:before { content: "\e66b"; }
.icon-mulu:before { content: "\e694"; }
.icon-refresh:before { content: "\e75d"; }
.icon-xinjianmulu:before { content: "\e6ff"; }
.icon-xinjianwenjianjia:before { content: "\e615"; }
.icon-shanchu:before { content: "\e659"; }
.icon-iconfontjianqie:before { content: "\e61b"; }
.icon-fuzhi:before { content: "\e95c"; }
.icon-paste:before { content: "\e725"; }
.icon-xiazai:before { content: "\e645"; }
.icon-shangchuan:before { content: "\e636"; }
.icon-daoru:before { content: "\e63d"; }
.icon-daochu:before { content: "\e643"; }

body, #fileExplorer
{
	padding: 0px;
	margin: 0px;
}
#tree
{
	overflow-x: scroll;
	white-space: nowrap;
}
#rightPanel
{
}
#path
{
	padding-top: 10px;
	clear: both;
}
#pathString
{
	font-weight: bold;
}
#menu
{
}
.chkColumn
{
	
	padding-top: 1px;
	text-align: center;
}
.fileType
{
	
	padding: 4px;
	text-align: center;
}
.fileType img
{
	width: 16px;
}
.fileName
{
	
	padding: 4px;
}
.fileSize
{
	padding: 4px;
}
.lastUpdate
{
	padding: 4px;
}
.rename
{
	text-align: center;
	padding: 4px;
}
#filelist
{
	overflow: auto;
	float: left;
}
