/*footer*/

.wrap .footer {
	width: 100%;
	height:241px;
	margin-top:95px;
	padding-top: 40px;
	background: #38B3E8;
	background-size: 100% 100%;
}
.wrap .footer .footer_box {
	width: 960px;
	height: 200px;
	margin: 0 auto;
}
.wrap .footer h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 25px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.wrap .footer .left {
	float: left;
	margin-right: 80px;
}
.wrap .footer .left .left_r {
	float: left;
}
.wrap .footer .left .left_l {
	float: left;
	width: 160px;
}
.wrap .footer .left .uls {
	width: 340px;
}
.wrap .footer .left .uls li {
	float: left;
	width: 110px; 
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap .footer .left .uls li a {
	font-size: 12px;
	font-family: "Microsoft Yahei";
	line-height: 20px;
	margin: 0 0 10px;
	color: #000;
	display: block;
	text-decoration: none;
}
.wrap .footer .left p,
.wrap .footer .left p a {
	font-size: 12px;
	font-family: "Microsoft Yahei";
	line-height: 20px;
	margin: 0 0 10px;
	color: #000;
}
.wrap .footer .left .left_r {
	margin-top: 38px;
}
.wrap .footer .left .left_r .b {
	width:100px;
	height:125px;
    font-size: 14px;
    margin-left: 30px;
    line-height: 25px;
    text-align: center;
}
.wrap .foter_btn {
	clear: both;
	width: 100%;
	border-top: 1px solid #eaeaea;
	height: 40px;
	line-height: 40px;
	color: #666666;
	text-align: center;
	font-size: 12px;
}